.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ffffff, #0092A3);
    color: #0092A3;
    font-weight: 900;
}

.toolbar img {
    height: 150px;
    margin: 0 30px;
}