.mat-button,
.mat-raised-button {
  background-color: #0092a3;
}

td {
  padding-right: 30px;
  .mat-raised-button {
    margin-bottom: 13px;
  }
}

.table, .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 90vw;
}