<mat-card class="content">
  <form>
    <table class="example-full-width">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" name="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Selecione um veículo</mat-label>
            <mat-select>
              <mat-option>
                
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button mat-raised-button color="primary">Consultar</button>
        </td>
      </tr>

    </table>
  </form>
</mat-card>